extends layout

block content
  h1 承認画面
  each e in files
    div
      img(src=`/temp/${e}` width='640' height='360')
      form(action=`/approval/${e}`, method='POST')
        input(type='submit', value='承認' class='approve')
      form(action=`/denial/${e}`, method='POST')
        input(type='submit', value='拒否' class='deny')